<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!-- Verbose, useful when initially setting up and fine tweaking config, true/false -->
    <add key="Verbose" value="true" />

    <!-- Point to the log file that you want the program to analysis.  Supports realtime and static log files.  
      Use forward slashes / when setting log file location -->
    <add key="LogLocation" value="C:/Users/.../latest.log" />
    
    <!-- Point to the location that you want VPN IP Addresses to be logged to.  
      Use forward slashes / when setting output IP location -->
    <add key="OutputLocation" value="C:/Users/.../output.txt" />

    <!-- If you are getting false positives, add prefix/postfix regex to match, otherwise you may leave this blank. -->
    <add key="Regex_Prefix" value ="" />
    <add key="Regex_Postfix" value ="" />
    
    <!-- Regex for the IP that you are searching for, suggest using https://regex101.com/ to build a custom regex.
          Could change this to look for specific IP ranges instead of any IP ranges. -->
    <add key="Regex_IP" value="(25[0-5]|2[0-4][0-9]|[0-1]{1}[0-9]{2}|[1-9]{1}[0-9]{1}|[1-9])\.(25[0-5]|2[0-4][0-9]|[0-1]{1}[0-9]{2}|[1-9]{1}[0-9]{1}|[1-9]|0)\.(25[0-5]|2[0-4][0-9]|[0-1]{1}[0-9]{2}|[1-9]{1}[0-9]{1}|[1-9]|0)\.(25[0-5]|2[0-4][0-9]|[0-1]{1}[0-9]{2}|[1-9]{1}[0-9]{1}|[0-9])" />
    
    <!-- TODO: FIX API_FIELD SO THAT IT MAY BE DYNAMIC -->
    <!-- URL that IP address will be parsed to, https://ip.teoh.io/api/vpn/ -->
    <add key="API_URL" value="https://ip.teoh.io/api/vpn/" />

    <!-- API_FIELD, the JSON field you are reading -->
    <add key="API_FIELD" value="vpn_or_proxy" />

    <!-- API_VALUE, the JSON value you are looking for.  This will probably be 1 or "Yes" -->
    <add key="API_VALUE" value="yes" />
    
  </appSettings>
</configuration>